/* Navbar css */
.nav-item.nav-link {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fa-icon {
	font-size: 20px;
}

.nav-item {
	margin: 0 10px;
}

.img-nav {
	background-color: #ffffff;
}