<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<th:block th:replace="fragments/head :: head"></th:block>
	
	<!-- Put additional css and js sources -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">    
    <link rel="stylesheet" type="text/css" href="/css/style_index.css"/>
    
    <script src="/js/friends.js"></script>
    
    <title>M3- Friends</title>
</head>

<body> 
        
	<nav th:replace="fragments/nav :: nav"></nav>
        
    <div class="row justify-content-center mt-4">
           
        <div class="col-7">
                    
            <div class="panel">
            
				<ul class="nav nav-tabs nav-fill center-content mb-2" id="myTab" role="tablist">
					<li class="nav-item">
					    <a class="nav-link active" id="friends-tab" data-toggle="tab" href="#friend" 
					    	role="tab" aria-controls="friends" aria-selected="true"><i class="far fa-grin-alt mr-2"></i>Friends</a>
					</li>
					<li class="nav-item">
					    <a class="nav-link" id="friendship-request-tab" data-toggle="tab" href="#friendship-request" 
					    	role="tab" aria-controls="friendship-request" aria-selected="false"><i class="fas fa-question mr-2"></i>Friendship Requests</a>
					</li>
				</ul>

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="friend" role="tabpanel" aria-labelledby="friends-tab">
                    
		            	<ul class="list-group list-group-flush" th:if="${friends != null && friends.size() > 0}">
			                <li class="list-group-item d-flex flex-row justify-content-center align-items-center py-5" 
			                	th:id="${user.id}" th:each=" friend, iStat : ${friends}" th:if="${friend != null && friend.accepted != null && friend.accepted}"
			                	th:with="user=${friend.firstUser.id == session.u.id ? friend.secondUser : friend.firstUser}">
			                	
			                	<input type="hidden" th:value="${user.id}">
			                	
			                    <img class="profile-image" th:src="${user.avatar}" th:if="${user.avatar.contains('custom') == false}">
			                    <img class="profile-image" th:src="@{/user/avatar/{id}(id=${user.id})}" th:if="${user.avatar.contains('custom') == true}">
			                    
			                    <div class="d-flex flex-column align-items-center mr-3">
			                    	<a class="link profile-name name" th:href="@{/user/profile?userId=__${user.id}__}" th:text="${user.name + ' ' + user.lastName}"></a>
					            	<span class="nick text-center" th:text="${'@'+user.nickname}"></span>
			                    </div>
			                    
					            <span class="text-center mr-2" th:text="${user.email}"></span>
					            
					            <span class="text-center mr-2" th:if="${user.birthdate != null}" 
					            	th:text="${(#dates.year(#dates.createNow()) - #dates.year(user.birthdate)) + ' años'}"></span>
					            <span class="bio text-center" th:text="${user.description}"></span>
					            
					            <button class="btn button d-flex flex-row align-items-center btnRemoveFriend ml-2">
					            	<i class="fas fa-user-times mr-2"></i>Remove friend
					            </button>

			                </li>
			            </ul>
			            
			            <div class="d-flex flex-column justify-content-center align-items-center pt-4 pb-3 px-4"
			            	th:if="${friends == null || friends.size() == 0}">
			            	<span>You haven't got any friends yet</span>
			            	<span><i class="far fa-frown"></i></span>	
			            </div>
			            
                    </div>

                    <div class="tab-pane fade" id="friendship-request" role="tabpanel" aria-labelledby="friendship-request-tab">

						<ul class="list-group list-group-flush" th:if="${friends != null && friends.size() > 0}">
			                <li class="list-group-item d-flex flex-row justify-content-center align-items-center py-5" 
			                	th:id="${user.id}" th:each=" friend, iStat : ${friends}"
			                	th:if="${friend != null && friend.accepted != null && !friend.accepted}" th:with="user=${friend.firstUser.id == session.u.id ? friend.secondUser : friend.firstUser}">
			                	
			                	<input type="hidden" class="userIdFriendRequest" th:value="${user.id}">
			                	
			                    <img class="profile-image" th:src="${user.avatar}" th:if="${user.avatar.contains('custom') == false}">
			                    <img class="profile-image" th:src="@{/user/avatar/{id}(id=${user.id})}" th:if="${user.avatar.contains('custom') == true}">
			                    
			                    <div class="d-flex flex-column align-items-center mr-3">
			                    	<a class="link profile-name name" th:href="@{/user/profile?userId=__${user.id}__}" th:text="${user.name + ' ' + user.lastName}"></a>
					            	<span class="nick text-center" th:text="${'@'+user.nickname}"></span>
			                    </div>
			                    
					            <span class="text-center mr-2" th:text="${user.email}"></span>
					            
					            <span class="text-center mr-2" th:if="${user.birthdate != null}" 
					            	th:text="${(#dates.year(#dates.createNow()) - #dates.year(user.birthdate)) + ' años'}"></span>
					            <span class="bio text-center" th:text="${user.description}"></span>
					            
					            <div class="form-group d-flex flex-column align-items-center justify-content-center ml-2 my-0">
						            <form id="formResolveFriendRequest" method="POST" th:action="@{/user/resolveFriendRequest}">
				    					<input type="hidden" th:id="friendUserId" th:name="friendUserId" >
				    					<input type="hidden" th:id="accept" th:name="accept">
				    					
				    					<button type="submit" id="btnAccept" class="btn button center-content"><i class="material-icons mr-2">check</i>Accept</button>
                                		<button type="submit" id="btnReject" class="btn button center-content"><i class="material-icons mr-2">close</i>Discard</button>  
				    				</form>      
					            </div>

			                </li>
			            </ul>
			            
			            <div class="d-flex flex-column justify-content-center align-items-center pt-4 pb-3 px-4"
			            	th:if="${friends == null || friends.size() == 0}">
			            	<span>You haven't got any friend request</span>
			            	<span><i class="far fa-frown"></i></span>	
			            </div>

                    </div>
                </div>
            </div>

        </div>
        
	</div>
	
	<!-- Modal Remove Friend -->
	<div class="modal fade" id='modalRemoveFriend' tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Remove friend</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
			    	<form id="formRemoveFriend" method="POST" th:action="@{/user/removeFriend}">
			    	
			    		<input type="hidden" th:id="userId" th:name="userId">
			    		
			        	<div class="form-group text-center m-0">
	            			<p class="m-0">Are you sure you want to remove your friend <span id="userNameSpan" class="nick"></span>?</p>
	          		  	</div>
	
			        </form>
			 	</div>
				<div class="modal-footer d-flex justify-content-around align-items-center">						      	
		        	<button type="submit" form="formRemoveFriend" class="btn button center-content"><i class="fas fa-user-times mr-2"></i>Remove friend</button>
		        	<button type="button" class="btn button delete center-content" data-dismiss="modal"><i class="material-icons mr-1">close</i>Cancel</button>
	  	      	</div>		      
			</div>
		</div>
	</div>
          
</body>
</html>