<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<th:block th:replace="fragments/head :: head"></th:block>
	
	<!-- Put additional css and js sources -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">    
    <link rel="stylesheet" type="text/css" href="/css/style_index.css"/>
    
    <title>M3 - Grupos</title>
</head>
<body> 
        
	<nav th:replace="fragments/nav :: nav"></nav>
      
	<div class="row justify-content-center mt-5">

		<div class="col-6">
		    <div class="add_group_and_search d-flex justify-content-around align-items-center">
		        <button class="btn button add_group"><i class="material-icons mr-3">group_add</i> Create group</button>
		
                <form class="form-inline center-content searchForm">
                    <input class="form-control" type="search" placeholder="Search a group">
                    <button class="btn button button-search" type="submit"><i class="material-icons center-content">search</i></button>
                </form>
		    </div>
	
	        <div class="panel mt-5">
		        <p class="title-section ml-4 center-content">GROUPS <i class="material-icons title-section ml-4">group</i></p>
		        <ul class="list-group list-group-flush">
		            <li class="list-group-item">
		            	<div class="btn-group dropright">
		                	<i class="material-icons mr-3">group</i><a class="link" href="">Familia</a>
		                	<button type="button" class="btn dropdown-toggle ml-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
		                 	<div class="dropdown-menu">
								<a class="dropdown-item" href="#"><i class="material-icons mr-2">remove_red_eye</i>View members</a>
								<a class="dropdown-item" href="#"><i class="material-icons mr-2">share</i>Share with group</a>
								<a class="dropdown-item" href="#"><i class="material-icons mr-2">exit_to_app</i>Leave the group</a>
		                 	</div>
		                </div>
		            </li>
	
	                <li class="list-group-item">
						<div class="btn-group dropright">
							<i class="material-icons mr-3">group</i><a class="link" href="">Verano</a>
							<button type="button" class="btn dropdown-toggle ml-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
							<div class="dropdown-menu">
							    <a class="dropdown-item" href="#"><i class="material-icons mr-2">remove_red_eye</i>View members</a>
							    <a class="dropdown-item" href="#"><i class="material-icons mr-2">share</i>Share with group</a>
							    <a class="dropdown-item" href="#"><i class="material-icons mr-2">exit_to_app</i>Leave the group</a>
							</div>
						</div>
	                </li>
	                <li class="list-group-item">
						<div class="btn-group dropright">
							<i class="material-icons mr-3">group</i><a class="link" href="">Quedadas</a>
							<button type="button" class="btn dropdown-toggle ml-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="#"><i class="material-icons mr-2">remove_red_eye</i>View members</a>
								<a class="dropdown-item" href="#"><i class="material-icons mr-2">share</i>Share with group</a>
								<a class="dropdown-item" href="#"><i class="material-icons mr-2">exit_to_app</i>Leave the group</a>
							</div>
						</div>
	                </li>
	            </ul>
        	</div>      
    	</div>

	</div>
           
</body>
</html>