<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<th:block th:replace="fragments/head :: head"></th:block>
	
	<!-- Put additional css and js sources -->
	<link rel="stylesheet" type="text/css" href="/css/style.css">    
    <link rel="stylesheet" type="text/css" href="/css/style_index.css"/>
    
	
    <!-- datatables-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/sl-1.2.6/datatables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.2.7/css/select.dataTables.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/select/1.2.7/css/select.dataTables.min.css"></script>
    
    <script src="/js/moment.min.js"></script>
    <script type="text/javascript" src="/js/parser.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
    <script type="text/javascript" src="/js/file.js"></script>
    <script type="text/javascript" src="/js/tag.js"></script>
    <script type="text/javascript" src="/js/group.js"></script>
  

    
    <title>M3 - MultiMedia Manager</title>
</head>

<body> 
        
    <nav th:replace="fragments/nav :: nav"></nav>
    
    <div class="container mt-4 col-12">

        <div class="row">
            <div class="col-10 panel mx-auto">
                <div class="row">
                    <div class="col-3 border-right d-flex flex-column align-items-center files-panel">

                        <div class="d-flex flex-column align-items-center pb-2 pt-2">
                       	 	<h3 class="text-nowrap pr-4"><i class="material-icons ">perm_identity</i>Members</h3>
                            <form id="tagSearchForm" class="center-content searchForm mb-2 px-3 w-100">
                                <input id="tagSearchInput" class="form-control" type="search" placeholder="Search a member" aria-label="Search">
                                <button class="btn button-search" type="submit"><i class="material-icons center-content">search</i></button>
                            </form> 
                        </div>
                        <button id="btn-add-member" type="button" class="btn button d-flex align-items-center justify-content-center mb-3" data-toggle="modal" data-target="#modalAddMember">
					  		<i class="material-icons mr-2">person_add</i>
                          	<span>Add Member</span>
						</button>
                        <ul class="list-group list-group-flush w-100">                       
                            <li th:each="member : ${group.users}" class="list-group-item py-0 d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center">
                                    <!-- <i class="material-icons icon-tag mr-2">local_offer</i>-->
                                    <i class="material-icons mr-2">person</i>
                                    <a th:if="${member.user.id != session.u.id}" class="link mr-3" th:href="@{/user/profile?userId=__${member.id}__}" th:text="${member.user.name}"></a>
                                    <a th:if="${member.user.id == session.u.id}" class="link mr-3" th:href="@{/user/profile?userId=__${member.id}__}">Tú</a>
                                    
                                    <span class="ml-5" th:if="${member.permission == 'admin'}" th:text="${member.permission}"></span>
                                </div>
                                <button th:if="${userLoggedPermission == 'admin'}" class="btn no-bck" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons color-icon">menu</i></button>
                                <div class="dropdown-menu">
                                    <a th:if="${member.user.id != session.u.id}" class="dropdown-item" href="#" data-toggle="modal" ><i class="material-icons mr-2 color-icon">delete_outline</i>Delete from the group</a>
                                    <a th:if="${member.user.id != session.u.id}" class="dropdown-item" href="#" data-toggle="modal" ><i class="material-icons mr-2 color-icon">tune</i>Change permissions</a>
                                    <a th:if="${member.user.id == session.u.id}" class="dropdown-item" href="#" data-toggle="modal" ><i class="material-icons mr-2 color-icon">delete_outline</i>Leave the group</a>
                                </div>
                                
                                <button th:if="${userLoggedPermission != 'admin' && member.user.id == session.u.id}" class="btn no-bck" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons color-icon">menu</i></button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#" data-toggle="modal" ><i class="material-icons mr-2 color-icon">delete_outline</i>Leave the group</a>
                                </div>
                            </li>
                        </ul>
                        
                        
                        <!-- Modal Add Member-->
						<div class="modal fade" id="modalAddMember" tabindex="-1" role="dialog" aria-hidden="true">
						  	<div class="modal-dialog" role="document">
						    	<div class="modal-content">
						      		<div class="modal-header">
						        		<h5 class="modal-title" id="modalNewTagLabel">Add new members</h5>
								        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								          <span aria-hidden="true">&times;</span>
								        </button>
						     		</div>
									 <div class="modal-body px-5">
										 
											<ul class="list-group list-group-flush" th:if="${friendsNotInGroup != null && friendsNotInGroup.size() > 0}">
												<li class=" d-flex flex-row" th:each="friend : ${friendsNotInGroup}">
													<label class="friendPicker">
														<input type="checkbox" th:value="${friend.id}" name="members-check">
														<span class="friendPicker">
															<img class="profile-image" th:src="${friend.avatar}" th:if="${friend.avatar.contains('custom') == false}">
															<img class="profile-image" th:src="@{/user/avatar/{id}(id=${friend.id})}" th:if="${friend.avatar.contains('custom') == true}">
															<span class="d-flex flex-column align-items-center mr-3">
																<span class="link profile-name name" th:text="${friend.name + ' ' + friend.lastName}"></span>
																<span class="nick text-center" th:text="${'@'+friend.nickname}"></span>
															</span>
														</span>
													</label>
												</li>
											</ul>
			
											<div
												class="d-flex flex-column justify-content-center align-items-center pt-4 pb-3 px-4"
												th:if="${friendsNotInGroup == null || friendsNotInGroup.size() == 0}">
												<span>You haven't got any friends yet</span> <span><i
													class="far fa-frown"></i></span>
											</div>
										
									</div>
						      		 
					      			<div class="modal-footer">						      	
							        	<button type="button" class="btn button-second" data-dismiss="modal">Cancel</button>
							        	<button id="btn-add-members" type="submit" class="btn button">Add members</button>
						  	      	</div>
						    	</div>
						  	</div>
						</div>
                        
                        
            
                        
                        
                        
								
								
                    </div>

                    <div class="col-6">
                    
                        <div id="folderView" class="row justify-content-center px-3 collapse multi-collapse show">
                        	<nav class="d-flex justify-content-between align-items-center border-bottom" aria-label="breadcrumb">                         
                                 <h2 id="title-name-group" th:text="${group.name}" th:attr="data-group-id=${group.id}"></h2>
                                <div class="d-flex flex-column align-items-end">                              
		                            <form id="fileSearchForm" class="center-content searchForm mb-2 px-3">
		                                <input id="fileSearchInput" class="form-control" type="search" placeholder="Search a file" aria-label="Search">
		                                <button class="btn button-search" type="submit"><i class="material-icons center-content">search</i></button>
		                            </form>                        
		                        </div>
                                
                           	</nav>
                           
                           	<div class="panel-select-all-and-options center-content">
                           		<input type="checkbox" id="select-all-files">
                           		<div class="pl-2" >
	                               	<button type="button" data-toggle="tooltip" data-placement="bottom" title="Share" class="btn button-second "><i class="material-icons center-content">share</i></button>
                            		<button type="button" data-toggle="tooltip" data-placement="bottom" title="Download" class="btn button-second "><i class="material-icons center-content">archive</i></button>
                            		<button class="btn button-second" data-toggle="modal" data-target="#modalDeleteFiles"><i class="material-icons center-content">delete</i></button>
                           		</div>
                           	</div>
                           
                           	
                       	
                       
                      </div>					
								
					  
								
						 
								
						 
						 
					</div>
								
                    
                
                	<div class="col-3 border-left d-flex flex-column align-items-center files-panel">
                		 <div class="d-flex flex-column align-items-center pb-2 pt-2">
                       	 	<h3 class="text-nowrap pr-4 center-content"><i class="material-icons">chat</i>Chat</h3>
                            <form id="tagSearchForm" class="center-content searchForm mb-2 px-3 w-100">
                                <input id="tagSearchInput" class="form-control" type="search" placeholder="Search a message" aria-label="Search">
                                <button class="btn button-search" type="submit"><i class="material-icons center-content">search</i></button>
                            </form> 
                            
                            <textarea class="form-control rounded-0 " id="text-area-chat" rows="10" readonly></textarea>
                            <form id="chat-message-form" class="center-content searchForm mb-2 mt-4 px-3 w-100">
                                <input id="chat-message-input" class="form-control" type="text" placeholder="Write a message" aria-label="Search">
                                <button id="chat-message-submit-button" class="btn button-search " type="submit"><i class="material-icons center-content">send</i></button>
                            </form> 
                            
                            
                        </div>
                        
                	</div>
                
                </div>
            </div>
        </div>

        <div class="row mt-4 justify-content-center">
            <a th:href="@{/user/history}" class="btn button d-flex"><i class="material-icons mr-2">history</i>View history</a>
        </div>
        
       
    </div>


<script>
	window.addEventListener('load', () => {
		// envio	
		const lineInput = document.getElementById("chat-message-input");
		let groupId = $("#title-name-group").attr("data-group-id");
		
		$("#chat-message-submit-button").on("click", (event) => {
			console.log("ENVIANDO MENSAJE");
			var text = lineInput.value;
			ws.send(text + " " + groupId);
			lineInput.value = ""
			return false;
		});
		
		
	
		// recepcion
		const lineOutput = $("#text-area-chat");
		
		ws.receive = (text) => {
			console.log("MENSAJE RECIBIDO");
			lineOutput.val(lineOutput.val() + '\n' + text); 
		}
	});
	</script>
		
</body>
</html>
    