<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<th:block th:replace="fragments/head :: head"></th:block>
	
	<!-- Put additional css and js sources -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">    
    <link rel="stylesheet" type="text/css" href="/css/style_index.css"/>
    <script type="text/javascript">
    	const json = "[[${metadata}]]";
		var metadata = JSON.parse(json.replace(/&quot;/g, '\"'));
    </script>
    <script src="/js/fileView.js"></script>
    <script src="/js/modifyFile.js"></script>
    
    <title>M3 - My files</title>
</head>

<body> 
        
    <nav th:replace="fragments/nav :: nav"></nav>
    
    <div class="conatiner mt-4">

        <div class="row">
            <div class="col-10 panel mx-auto">
                <div class="row">
                   <div class="col">
                    	<div class="row justify-content-between align-items-center border-bottom">
                        	<a class="d-flex files-link" href="#" th:switch="${mimetype}">
                            	<i class="material-icons title-section my-auto ml-3" th:case="'image'">image</i>
                                <i class="material-icons title-section my-auto ml-3" th:case="'audio'">music_video</i>
                                <i class="material-icons title-section my-auto ml-3" th:case="'video'">videocam</i>
                                <span class="title-section" th:text="${filename}">File</span>
                            </a>
                            <div class="row">
                                <a th:href="@{/file/share/{id}(id=${fileId})}" class="btn button d-flex align-items-center" style="height: 40px; margin-right: 20px;"><i class="material-icons mr-2">share</i>Share</a>
                                <a th:href="@{/file/edit/{id}(id=${fileId})}" class="btn button d-flex align-items-center" style="height: 40px; margin-right: 20px;"><i class="material-icons mr-2">edit</i>Edit</a>
                            </div>
                       	</div>
                        <div id="mediaplayer" class="row justify-content-center" th:switch="${mimetype}">
                        
                        	<img th:src="@{/file/contents/{id}(id=${fileId})}" max-width="50%" max-height="50%" th:case="'image'">
                        	
                            <audio controls th:case="'audio'">
                            	<source th:src="@{/file/contents/{id}(id=${fileId})}" type="audio/mpeg">
                            </audio>
                            
                            <video width="50%" height="50%" id="videoPlay" controls th:case="'video'">
                            	<source th:src="@{/file/contents/{id}(id=${fileId})}" type="video/mp4">
                            </video>
                            
                            <div th:case="*">Mediaplayer</div>
                       	</div>
                       	<div id="tags">
                            <th:block th:each="tag : ${tags}">
                            <div class="title" th:text="${tag}">Tag</div>
                            </th:block>
                       	</div>
                        <div id="metadata"></div>
                        <div id="editMetadata">
                        	<div class="title">Key:</div>
                        	<div class="title">Value:</div>
                        	<input type="text" id="keyMetadata-0">
                        	<input type="text" id="valueMetadata-0">
                        </div>
                        <div class="row metadata-buttons">
                        	<a class="btn button d-flex align-items-center" id="addMetadata" style="height: 40px; margin-right: 20px;"><i class="material-icons mr-2">library_add</i>Add</a>
                        	<a class="btn button d-flex align-items-center" id="submitMetadata" style="height: 40px; margin-right: 20px;"><i class="material-icons mr-2">check</i>Submit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
    