<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	lang="es">
<head>
	<div th:replace="fragments/head :: head"></div>
	
	<!-- Put additional css and js sources -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">    
    <link rel="stylesheet" type="text/css" href="/css/style_index.css"/>
    
   	<script src="/js/moment.min.js"></script>
	<script src="/js/parser.js"></script>
	<script src="/js/modifyProfile.js"></script>
    
    <title>M3 - Modify Profile</title>
</head>

<body> 
	<div class ="container-fluid px-0">
	
		<nav th:replace="fragments/nav :: nav"></nav>
	
	    <div class="left-panel-index col-5 mx-auto mt-3 h-auto">
	        <img class="avatar center-content" src="/img/snow.png">
	
	        <form id="modifyProfileForm" class="form" th:action="@{/user/modifyProfile}" th:object="${userTransfer}" method="POST" th:if="${user != null}">
	            <div class="form-row justify-content-center">
	                <p class="nick text-center" th:text="${'@'+user.nickname}"></p>
	                <input type="hidden" th:id="id" th:name="id" th:value="${user.id}">
	            </div>
	            <div class="form-row">
	                <div class="form-group col-12">
	                    <input type="email" class="form-control" placeholder="Email" 
	                    	th:id="email" th:name="email" th:value="${user.email}" th:classappend="${emailError != null} ? is-invalid : ''">
	                    <div class="invalid-feedback" th:text="${emailError}"></div>
	                </div>
	            </div>
	            <div class="form-row">
	                <div class="form-group col-6">
	                    <input type="text" class="form-control" placeholder="FirstName" 
	                    	th:id="name" th:name="name" th:value="${user.name}" th:classappend="${nameError != null} ? is-invalid : ''">
	                    <div class="invalid-feedback" th:text="${nameError}"></div>
	                </div>
	                <div class="form-group col-6">
	                    <input type="text" class="form-control" placeholder="LastName" 
	                    	th:id="lastName" th:name="lastName" th:value="${user.lastName}" th:classappend="${lastNameError != null} ? is-invalid : ''">
	                	<div class="invalid-feedback" th:text="${lastNameError}"></div>
	                </div>
	            </div>
	            <div class="form-row">
	                <div class="form-group col-12">
	                    <input type="date" class="form-control" 
	                    	th:id="birthdateStr" th:name="birthdateStr" 
	                    	th:value="${(user.birthdate != null ? #dates.format(user.birthdate, 'yyyy-MM-dd') : #dates.format(#dates.createNow(), 'yyyy-MM-dd') )}"
	                    	th:classappend="${birthdateError != null} ? is-invalid : ''">
	                	<div class="invalid-feedback" th:text="${birthdateError}"></div>
	                </div>
	            </div>
	            <div class="form-row">
	                <div class="form-group col-12">
	                    <textarea class="form-control" rows= "4" th:id="description" th:name="description" th:text="${user.description}"></textarea>
	                </div>
	            </div>
			</form>
			
            <div class="d-flex flex-column align-items-center"> 
                <button class="btn button content-button mt-3" data-toggle="modal" data-target="#exampleModal"><i class="material-icons mr-3">settings_backup_restore</i>Modify password</button>
                
                <form id="deleteForm" th:action="@{/user/delete}" method="POST">
					<input type="hidden" id="userId" name="userId" th:value="${user.id}"/>
					<button type="submit" form="deleteForm" class="btn button content-button mt-3"><i class="material-icons p-1">delete</i>Delete profile</button>
				</form>
                
                <button type="submit" form="modifyProfileForm" class="btn button content-button mt-3"><i class="material-icons mr-3">save</i> Save changes</button>

                <!-- Modal PASSWORD-->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modify password</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body px-5">
                            <form id="modifyPasswordForm" class="form" th:action="@{/user/modifyPassword}" th:object="${userTransfer}" method="POST" th:if="${user != null}">
                                <div class="form-row">
                                    <div class="form-group col-12">
                                        <input type="password" class="form-control" th:id="password" th:name="password" placeholder="OldPassword">
                                        <div class="invalid-feedback" th:text="${passwordError}"></div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-12">
                                        <input type="password" class="form-control" th:id="samePassword" th:name="samePassword" placeholder="NewPassword">
                                        <div class="invalid-feedback" th:text="${samePasswordError}"></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                        <button type="reset" class="button content-button btn" data-dismiss="modal">Cancel</button>
                        <button type="submit" form="modifyPasswordForm" class="button content-button btn">Save changes</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
	        
	    </div>
	    
	</div>
</body>
</html>