<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	lang="es">
<head>
	<div th:replace="fragments/head :: head"></div>
	
	<!-- Put additional css and js sources -->
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>    
    <link rel="stylesheet" type="text/css" href="/css/style_index.css"/>
    
    <title>M3 - Profile</title>
</head>

<body> 
    
    <nav th:replace="fragments/nav :: nav"></nav>
    
    <div class="container mt-4">
        <div class="left-panel-index col-3 mx-auto" th:if="${user != null}">
            <img class="avatar center-content" src="/img/sexy-guille.jpeg">
            <p class="name text-center" th:text="${user.name + ' ' + user.lastName}">John Snow</p>
            <p class="nick text-center" th:text="${'@'+user.nickname}"></p>
            <p class="text-center" th:text="${user.email}"></p>
            <p class="text-center" th:if="${user.birthdate != null}" th:text="${ 'Edad : ' + (#dates.year(#dates.createNow()) - #dates.year(user.birthdate)) + ' años - ' + #dates.format(user.birthdate, 'dd/MM/yyyy')}"></p>
            <p class="bio text-center" th:text="${user.description}"></p>
            <a th:href="@{/user/modifyProfile?userId=__${user.id}__}" class="btn button content-button mt-3"><i class="material-icons mr-2">edit</i>Modify profile</a>

        </div>
    </div>
</body>
</html>