<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<th:block th:replace="fragments/head :: head"></th:block>
	
	<!-- Put additional css and js sources -->
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>    
    <link rel="stylesheet" type="text/css" href="/css/style_index.css"/>
    
    <title>M3 - Profile</title>
</head>

<body> 
    
    <nav th:replace="fragments/nav :: nav"></nav>
    
    <div class="container mt-4">
        <div class="left-panel-index col-3 mx-auto" th:if="${user != null}">
        
        	<input type="hidden" th:value="${user.id}">
        
            <img class="avatar center-content" src="/img/sexy-guille.jpeg">
            
            <div class="d-flex flex-column align-items-center mr-3">
            	<p class="profile-name name"
            		th:if="${user.name != null && user.name != '' && user.lastName != null && user.lastName != ''}"
            		th:text="${user.name + ' ' + user.lastName}"></p>
           		<span class="nick text-center" th:text="${'@'+user.nickname}"></span>
            </div>

            <p class="text-center" th:text="${user.email}"></p>
            
            <p class="text-center" th:if="${user.birthdate != null}" 
            	th:text="${ 'Edad : ' + (#dates.year(#dates.createNow()) - #dates.year(user.birthdate)) + ' años - ' + #dates.format(user.birthdate, 'dd/MM/yyyy')}"></p>
            	
            <p class="bio text-center" th:text="${user.description}"></p>
            
          	<th:block th:if="${session.u != null && session.u.id != user.id && ((session.friendIds != null && session.friendIds.size() > 0 && !#lists.contains(session.friendIds, user.id)) || session.friendIds == null || session.friendIds.size() == 0)}">
            
            <button class="btn button d-flex flex-row align-items-center btnFriendRequest">
            	<i class="material-icons mr-2">person_add</i>Add friend
            </button>
           	
           	<th:block th:replace="fragments/friendRequest :: friendRequest"></th:block>
           	
            </th:block>
            
            <a th:if="${session.u != null && session.u.id == user.id}" 
            	th:href="@{/user/modifyProfile?userId=__${user.id}__}" class="btn button content-button mt-3">
            	<i class="material-icons mr-2">edit</i>Modify profile
            </a>

        </div>
    </div>
</body>
</html>